{
  "extends": [
    "airbnb",
    "plugin:react/all",
    "plugin:react-native/all"
  ],
  "plugins": [
    "react",
    "react-native"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "react-native/react-native": true
  },  # Custom Disabled Rules
  rules: {
    camelcase: 0,
    max-len: 0,
    comma-dangle: ['error', {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "ignore",
    }],
    no-restricted-syntax: [
      'error',
      'ForOfStatement',
      'LabeledStatement',
      'WithStatement',
    ],
    "security/detect-object-injection": 0,
    "object-curly-newline": 0
  }
}
