addons:
  artifacts:
    paths:
      - ./sample61/android/captures/*

jobs:
  include:
    - stage: e2e
      os: osx
      language: objective-c
      cache:
        bundler: true
        cocoapods: true
        npm: true
        pip: true
      osx_image: xcode11.2
      before_install:
        - gem install cocoapods -v '0.32.1'
      install:
        - npm install
        - cd sample61
        - npm install
        - cd ios
        - pod install
        - cd ..
      script:
        - npx react-native bundle --entry-file index.js --platform ios --dev false --bundle-output ios/main.jsbundle --assets-dest ios
        - xcodebuild -workspace ios/sample61.xcworkspace/ -scheme sample61 -sdk iphonesimulator -destination  'platform=iOS Simulator,name=iPhone 11' clean build test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
    - stage: e2e
      os: linux
      language: android
      dist: trusty
      android:
        components:
          # Project
          - tools
          - platform-tools
          - build-tools-28.0.3
          - android-28
          - extra-google-google_play_services
          - extra-google-m2repository
          - extra-android-m2repository

          # Emulator 
          - android-24
          - sys-img-armeabi-v7a-android-24
        licenses: ".+"
      before_install:
        - nvm install 12
      install: skip
      before_script:
        - echo no | android create avd --force -n test -t android-24 --abi armeabi-v7a -c 100M
        - emulator -avd test -no-window &
        - android-wait-for-emulator
        - adb shell input keyevent 82 &
      script:
        - node --version
        - cd sample61
        - npm install
        - mkdir -p android/app/src/main/assets
        - npx react-native bundle --entry-file index.js --platform android --dev false --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res/
        - cd android
        # - adb shell mkdir -p something
        - ./gradlew assembleAndroidTest
        # - kill $FOO_PID
        # - mkdir -p captures
        # - mv video.mp4 captures
